<h1>Deposit</h1>

<%= form_with(url: transactions_deposits_path, id: 'deposit-form', local: true) do |form| %>
  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount, name: 'amount' %>
  </div>

  <%= form.hidden_field :idempotency_key, value: SecureRandom.uuid %>

  <div class="actions">
    <%= form.submit 'Save' %>
    <%= link_to 'Cancel', root_path, class: 'button' %>
  </div>

  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <% if flash[:notice] %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
    </div>
  <% end %>
<% end %>

