<h1>Welcome, <%= current_user.name %>!</h1>
<p>You are successfully logged in.</p>

<h2>Choose a Transaction</h2>
<%= link_to 'Deposit', new_transactions_deposit_path, class: 'btn btn-secondary' %>
<%= link_to 'Withdraw', new_withdraw_path, class: 'btn btn-secondary' %>
<%= link_to 'Transfer', new_transfer_path, class: 'btn btn-secondary' %>

<%= button_to 'Logout', logout_path, method: :delete %>
